<div class="container" *ngIf="shoe">
    <div class="row">
        <div class="col-md-6">
            <img src="{{shoe.imageUrl}}" width="75%" alt="ShoeImage">
        </div>
        <div class="col-md-6">
            <h1>{{shoe.make}}</h1>
            <hr>
            <h5>{{shoe.title}}</h5>
            <hr>
            <h6>Описание</h6>
            <hr>
            <p>{{shoe.description}}</p>
            <hr>
            <p>Цена: {{shoe.price}} лв.</p>
        </div>
    </div>
    <div class="wrapper text-center">
        <button class="btn btn-primary" (click)="addToCart(shoe._id)">Добави към количката</button>
    </div>
</div>